<%- include("partials/navbar.ejs") %>
    <div id="about">
        <h1>WEB WIZARD: MEET THE DEVELOPER</h1>
        <div id="description">
            <img src="images/profile.svg" alt="">
            <div>
                <h2>Hello,</h2>
                I'm Ankijit, an intermediate web developer with a passion for creating dynamic digital experiences. My skills span HTML, CSS, JavaScript, React, Express.js, Node.js, MongoDB, and APIs. I thrive on learning and pushing my boundaries to craft engaging web solutions. My goal is to keep evolving and make an impact in the web development world.
            </div>
        </div>
    </div>
    <div id="skills">
        <h1>My SKILL ARSENAL</h1>

        <div class="skillset">
            <div>
                <img src="images/icons/html.svg" alt="">
                <p>HTML</p>
            </div>
            <div>
                <img src="images/icons/css.svg" alt="">
                <p>CSS</p>
            </div>
            <div>
                <img src="images/icons/javascript.svg" alt="">
                <p>JavaScript</p>
            </div>
            <div>
                <img src="images/icons/html.svg" alt="">
                <p>Tailwind</p>
            </div>
            <div>
                <img src="images/icons/bootstrap.svg" alt="">
                <p>Bootstrap</p>
            </div>
            <div>
                <img src="images/icons/JQuery.svg" alt="">
                <p>JQuery</p>
            </div>
            <div>
                <img src="images/icons/React.svg" alt="">
                <p>React</p>
            </div>
        </div>
        <div class="skillset">
            <div>
                <img src="images/icons/nodejs.svg" alt="">
                <p>Node JS</p>
            </div>
            <div>
                <img src="images/icons/express.svg" alt="">
                <p>Express</p>
            </div>
            <div>
                <img src="images/icons/ejs.svg" alt="">
                <p>EJS</p>
            </div>
            <div>
                <img src="images/icons/mysql.svg" alt="">
                <p>My SQL</p>
            </div>
            <div>
                <img src="images/icons/mongodb.svg" alt="">
                <p>MongoDB</p>
            </div>
            <div>
                <img src="images/icons/Figma.svg" alt="">
                <p>UI/UX</p>
            </div>
            <div>
                <img src="images/icons/git.svg" alt="">
                <p>Git</p>
            </div>
        </div>
        <div class="projects">
            <h1>PROJECTS PORTFOLIO: MY CODING CREATIONS</h1>
            <div class="projectsection">
                <a href="https://weatherappbyankijit.vercel.app/" target="_blank"><div class="projectcard">WeatherApp</div></a>
                <a href="https://github.com/Ankijit2/Shopping-site" target="_blank"><div class="projectcard">Shopping Site</div></a>
                <a href="https://github.com/Ankijit2/musicPlayer" target="_blank"> <div class="projectcard">Music Player</div></a>
            </div>
        </div>
        <a href="https://github.com/Ankijit2" target="_blank"><button class="buttons button1">Show More</button></a>
    </div>
    <%- include("partials/footer.ejs") %>