<%- include("partials/navbar.ejs") %>
    <div id="contact">
        <div class="socialmediacontact">
            <h3>Get in touch</h3>
            <a href="mailto:ankijit123@gmail.com">
                <img src="images/icons/gmail.svg" alt="">
                <span>ankijit123@gmail.com</span>
            </a>
            <div class="social-icons">
                <a href="https://www.facebook.com/profile.php?id=100091178284158" target="_blank">
                    <img src="images/icons/facebook.svg" alt="">
                </a>
                <a href="https://github.com/Ankijit2" target="_blank">
                    <img src="images/icons/github.svg" alt="">
                </a>
                <a href="https://www.instagram.com/a.r_design.s/" target="_blank">
                    <img src="images/icons/instagram.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/ankijit-roy-642409263" target="_blank">
                    <img src="images/icons/linkedin.svg" alt="">
                </a>
            </div>
        </div>
        <div class="form">
            <form action="/contactme" method="post">
                <h3>For clients</h3>
                <input type="text" name="Name" placeholder="Your Name" required>
                <input type="email" name="Email" placeholder="Your Email" required>
                <textarea name="Message" rows="6" placeholder="Your Requirements"></textarea>
                <button class="buttons">Submit</button>
            </form>
        </div>
    </div>
    </main>


    <%- include("partials/footer.ejs") %>