<%- include("partials/navbar.ejs") %>

    <div id="background">
        <img src="images/profile.svg" alt="">
        <div class="insights">
            <div class="slogan">Designing with Purpose, Coding with Precision</div>
            <a href="resume/resume.pdf" download><button class="buttons">Unveil CV</button></a> <a href="https://www.fiverr.com/s/8ByxAg" target="_blank"><button class="buttons">Hire Me</button></a>
        </div>

    </div>
    <%- include("partials/footer.ejs") %>