<%- include("partials/navbar.ejs") %>
<div id="services">
    <h1>OUR SERVICES</h1>
    <div class="servicetab">
        <div class="service">
           <img src="images/icons/Website.svg" alt="">
            <h2>Website Development</h2>
            <p> Craft visually appealing and responsive websites that align with your brand's identity, ensuring a seamless user experience.</p>
        </div>
        <div class="service">
            <img src="images/icons/webapp.svg" alt="">
            <h2>Web Application Development</h2>
            <p>Build tailored web solutions that address unique project needs, offering customized features and functionality for a seamless user experience.</p>
        </div>
        <div class="service">
            <img src="images/icons/uiux.svg" alt="">
            <h2>UI/UX Design</h2>
            <p>Create intuitive and visually engaging user interfaces that prioritize user-centric design, delivering delightful and efficient experiences. </p>
           
        </div>
        <div class="service">
            <img src="images/icons/maintain.svg" alt="">
            <h2>Website Maintenance</h2>
            <p>Keep your websites up to date, running smoothly, and secure with regular updates, bug fixes, and enhancements.</p>
        </div>
        <div class="service">
            <img src="images/icons/api.svg" alt="">
            <h2>API Integration</h2>
            <p>Enhance web functionality by seamlessly integrating third-party APIs, expanding capabilities and data sources for your web applications.</p>
        </div>
        <div class="service">
            <img src="images/icons/database.svg" alt="">
            <h2>Database Management</h2>
            <p>Optimize data storage and retrieval for web applications, ensuring efficient and organized data handling. </p>
           
        </div>
        
    </div>
</div>


<%- include("partials/footer.ejs") %> 