@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --color-primary: #DAC5A7;
  --color-background: #040404;
  --color-foreground: #1A1A1A;
}

@layer utilities {
  .no-visible-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
  }

  .no-visible-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.prose p {
  color: white; /* or use text-white if using Tailwind CSS */
}